.page {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  padding: 25px 35px;
  background-color: #0f1010;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-image: url(../../images/bckg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.page::before {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
}

.blur-container {
  backdrop-filter: blur(5px);
  background-color: rgba(15, 16, 16, 0.485);
}

@media screen and (max-width: 767px) {
  .page {
    padding-right: 25px;
    padding-left: 25px;
    gap: 30px;
    background-image: url(../../images/mobile-bkg.jpg);
  }
}