.skills__items {
  /* list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0 0; */
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}